<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<head th:replace="fragments/layout.html :: html_head" />
	<meta charset="UTF-8">
	<title>Add a new Staff</title>
</head>

<body>
	<div th:replace="fragments/layout.html :: menu" />
	<div th:replace="fragments/layout.html :: header" />
	<div align="center">
		<h1>New Staff Form</h1>

		<form th:object="${user}" th:action="@{/admin/create}" method="post">
			<table style="border: 1;margin-left: auto; margin-right: auto;">
				<tbody>
					<tr>
						<td>Staff's Name:</td>
						<td><input type="text" th:field="*{name}" /></td>
						<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
					</tr>
					<tr>
						<td>Username:</td>
						<td><input type="text" th:field="*{username}" /></td>
						<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
					</tr>
					<tr>
						<td>Initial Password: </td>
						<td><input type="text" th:field="*{password}" /></td>
						<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
					</tr>
					<tr>
						<td>Staff's Role:</td>
						<td>
							<select size="03" multiple="multiple" name="roles" id="roles">
								<option th:each="role:${rolelist}" th:value="${role.roleId}"
									th:text="${role.name}">
								</option>
							</select>
						</td>
						<td th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></td>
					</tr><tr>
						<td>Manager Select:</td>
						<td>
							<select size="03" name="managerId" id="managerId">
								<option th:each="manager:${managerlist}" th:value="${manager.employeeId}" th:text="${manager.name}">
								</option>
							</select>
						</td>
						<td th:if="${#fields.hasErrors('managerId')}" th:errors="*{managerId}"></td>
					</tr>
				</tbody>
			</table >
			<br><br>
			<a><input type="submit" value="Create" class="bclass" /></a>

		</form>
		<br>
		<a th:href="@{/admin/list}" style="font-size: 18px;">Back to list</a>
	</div>

</body>

</html>