<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="fragments/layout.html :: html_head" />

<body>
	<div th:replace="fragments/layout.html :: menu" />
	<div th:replace="fragments/layout.html :: header" />
	<h3>Edit User page</h3>
	<form action="#" th:action="@{/admin/edituser/}+${user.employeeId}" th:object="${user}" method="post">
		<table style="border: 1;margin-left: auto; margin-right: auto;">
			<tbody>
				<tr>
					<td><span th:text="#{fieldLabel.employeeId}"></span></td>
					<td><input type="text" th:field="*{employeeId}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.empName}"></span></td>
					<td><input type="text" th:field="*{name}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.username}"></span></td>
					<td><input type="text" th:field="*{username}" /></td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.password}"></span></td>
					<td><input type="text" th:field="*{password}" /></td>
				</tr>
				<tr>
					<td><label>User roles (multiple select):</label></td>
					<td><select size="03" multiple="multiple" name="roles" id="roles">
							<option th:each="role:${roles}" th:value="${role.roleId}" th:text="${role.description}">
								Roles</option>
						</select></td>
				</tr>
				<tr>
					<td><label>Select Manager :</label></td>
					<td><select size="03" name="managerId" id="managerId">
							<option th:each="manager:${managerlist}" th:value="${manager.employeeId}"
								th:text="${manager.name}">
								Managers</option>
						</select></td>
				</tr>
				<br>
				<tr>
				<br>
					<td>
						<p th:each="leaveentitlement : ${user.leaveEntitlements}">
							<span th:text="${leaveentitlement.type}">Type</span>
						</p>
					</td>
					<td>
						<p th:each="leaveentitlement : ${user.leaveEntitlements}">
							<span th:text="${leaveentitlement.entitlement}">Days</span>
						</p>
					</td>
				</tr>
				<br>
				<tr>
					<td><input type="submit" value="Update" /></td>
				</tr>
			</tbody>
		</table>

	</form>
	<br><br>
	<div style="margin: auto;width: 25%;padding: 10px;">

		<p>** Please note down these existing leave entitlements before updating role**</p>

		<p>** You will be redirected to edit staff's leave entitlements for pro-rating**</p>
	</div>

	<div style="text-align: center;">
		<br><br>
		<a th:href="@{/admin/list}" style="font-size: 15px">Back to list</a>
	</div>
</body>

</html>