<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Application Detail</title>
</head>
<body>
	<h1>Leave Application Detail</h1>
		<strong>Employee Name: </strong> <span th:text="${leave.employee.name}" /><br/>
		<strong>Leave Type: </strong> <span th:text="${leave.type}" /><br/>
		<strong>From : </strong> <span th:text="${leave.fromDate}" /><br/>
		<strong>To: </strong> <span th:text="${leave.toDate}" /><br/>
		<strong>Contact Detail: </strong> <span th:text="${leave.contactDetails}" /><br/>
		<strong>Work Dissemination: </strong> <span th:text="${leave.workDissemination}" /><br/>
		<strong>Reason: </strong> <span th:text="${leave.reason}" /><br/>
		
	<h3>Approve/Reject Leave</h3>
 	<form th:action="@{/leaves/decide/}+${leave.leaveAppId}" method="post" th:object="${comment}">
        <p>Comment:</p>
         	<textarea type="text" th:field="*{message}" required></textarea><br/> 
         	
         	<input type="radio" name="approve" value="approved" th:field="*{decision}" required>
            <label for="approve">Approve</label>
            
            <input type="radio" name="reject"  value="rejected" th:field="*{decision}" required>
            <label for="reject">Reject</label>
            
        	<input type="submit" value="Submit" />
    </form>
		
    <h3>Leave History of <span th:text="${leave.employee.name}" /></h3>
    <table border="1" >
    <thead>
        <tr>
            <th> Employee </th>
            <th> Leave Type </th>
            <th> From </th>
            <th> To</th>
            <th> Status </th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${leaves.empty}">
            <td colspan="2"> No Leave Applications. </td>
        </tr>
        <tr th:each="aleave : ${leaves}">
            <td><span th:text="${aleave.employee.name}"> James </span></td>
            <td><span th:text="${aleave.type}"> Annual </span></td>
            <td><span th:text="${aleave.fromDate}">From</span></td>
            <td><span th:text="${aleave.toDate}"> To </span></td>
            <td><span th:text="${aleave.status}"> Status </span></td>
        </tr>
    </tbody>
</table>
</body>
</html>