<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/simple.css}" />
    <title>Leave Applications</title>
</head>
<body>
	<div th:replace="fragments/layout.html :: menu" />
	<div th:replace="fragments/layout.html :: header" />
	
	<div th:if="${#strings.equals(type, 'all')}">
		<h1>All Subordinates Leave Applications</h1>
	</div>
	
	<div th:if="${#strings.equals(type, 'pending')}">
		<h1>All Pending Leave Applications</h1>
	</div>
    <table border="1" >
    <thead>
        <tr>
         	<th> No. </th>
            <th> Employee </th>
            <th> Leave Type </th>
            <th> Status </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${leaves.empty}">
            <td colspan="2"> No Leave Applications. </td>
        </tr>
        <tr th:each="leave : ${leaves}">
        	<td><span th:text="${leave.leaveAppId}"> No. </span></td>
            <td><span th:text="${leave.employee.name}"> Employee </span></td>
            <td><span th:text="${leave.type}"> Leave Type </span></td>
            <td><span th:text="${leave.status}"> Status </span></td>
            <td>
            	<span><a th:href="@{/leaves/detail/}+${leave.leaveAppId}">View Detail</a></span>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>